# Ignorar relatórios e logs gerados automaticamente
results/

# Ignorar saída interativa gerada pelo Robot Framework
interactive_console_output.xml

# Ignorar logs do servidor Mock
mock/server.log
mock/server_err.log